public_before_private	public_canonical_defined	private_canonical_defined	public_is_canonical	private_is_canonical	constraint	composer_version
TRUE	TRUE	TRUE	TRUE	TRUE	^1.0.0	2
TRUE	TRUE	TRUE	TRUE	FALSE	^1.0.0	2
TRUE	TRUE	TRUE	FALSE	TRUE	^1.0.0	2
TRUE	TRUE	TRUE	FALSE	FALSE	^1.0.0	2
TRUE	TRUE	FALSE	TRUE	N/A	^1.0.0	2
TRUE	TRUE	FALSE	TRUE	N/A	^1.0.0	2
TRUE	TRUE	FALSE	FALSE	N/A	^1.0.0	2
TRUE	TRUE	FALSE	FALSE	N/A	^1.0.0	2
TRUE	FALSE	TRUE	N/A	TRUE	^1.0.0	2
TRUE	FALSE	TRUE	N/A	FALSE	^1.0.0	2
TRUE	FALSE	TRUE	N/A	TRUE	^1.0.0	2
TRUE	FALSE	TRUE	N/A	FALSE	^1.0.0	2
TRUE	FALSE	FALSE	N/A	N/A	^1.0.0	2
TRUE	FALSE	FALSE	N/A	N/A	^1.0.0	2
TRUE	FALSE	FALSE	N/A	N/A	^1.0.0	2
TRUE	FALSE	FALSE	N/A	N/A	^1.0.0	2
FALSE	TRUE	TRUE	TRUE	TRUE	^1.0.0	2
FALSE	TRUE	TRUE	TRUE	FALSE	^1.0.0	2
FALSE	TRUE	TRUE	FALSE	TRUE	^1.0.0	2
FALSE	TRUE	TRUE	FALSE	FALSE	^1.0.0	2
FALSE	TRUE	FALSE	TRUE	N/A	^1.0.0	2
FALSE	TRUE	FALSE	TRUE	N/A	^1.0.0	2
FALSE	TRUE	FALSE	FALSE	N/A	^1.0.0	2
FALSE	TRUE	FALSE	FALSE	N/A	^1.0.0	2
FALSE	FALSE	TRUE	N/A	TRUE	^1.0.0	2
FALSE	FALSE	TRUE	N/A	FALSE	^1.0.0	2
FALSE	FALSE	TRUE	N/A	TRUE	^1.0.0	2
FALSE	FALSE	TRUE	N/A	FALSE	^1.0.0	2
FALSE	FALSE	FALSE	N/A	N/A	^1.0.0	2
FALSE	FALSE	FALSE	N/A	N/A	^1.0.0	2
FALSE	FALSE	FALSE	N/A	N/A	^1.0.0	2
FALSE	FALSE	FALSE	N/A	N/A	^1.0.0	2
TRUE	TRUE	TRUE	TRUE	TRUE	~1.0.0	2
TRUE	TRUE	TRUE	TRUE	FALSE	~1.0.0	2
TRUE	TRUE	TRUE	FALSE	TRUE	~1.0.0	2
TRUE	TRUE	TRUE	FALSE	FALSE	~1.0.0	2
TRUE	TRUE	FALSE	TRUE	N/A	~1.0.0	2
TRUE	TRUE	FALSE	TRUE	N/A	~1.0.0	2
TRUE	TRUE	FALSE	FALSE	N/A	~1.0.0	2
TRUE	TRUE	FALSE	FALSE	N/A	~1.0.0	2
TRUE	FALSE	TRUE	N/A	TRUE	~1.0.0	2
TRUE	FALSE	TRUE	N/A	FALSE	~1.0.0	2
TRUE	FALSE	TRUE	N/A	TRUE	~1.0.0	2
TRUE	FALSE	TRUE	N/A	FALSE	~1.0.0	2
TRUE	FALSE	FALSE	N/A	N/A	~1.0.0	2
TRUE	FALSE	FALSE	N/A	N/A	~1.0.0	2
TRUE	FALSE	FALSE	N/A	N/A	~1.0.0	2
TRUE	FALSE	FALSE	N/A	N/A	~1.0.0	2
FALSE	TRUE	TRUE	TRUE	TRUE	~1.0.0	2
FALSE	TRUE	TRUE	TRUE	FALSE	~1.0.0	2
FALSE	TRUE	TRUE	FALSE	TRUE	~1.0.0	2
FALSE	TRUE	TRUE	FALSE	FALSE	~1.0.0	2
FALSE	TRUE	FALSE	TRUE	N/A	~1.0.0	2
FALSE	TRUE	FALSE	TRUE	N/A	~1.0.0	2
FALSE	TRUE	FALSE	FALSE	N/A	~1.0.0	2
FALSE	TRUE	FALSE	FALSE	N/A	~1.0.0	2
FALSE	FALSE	TRUE	N/A	TRUE	~1.0.0	2
FALSE	FALSE	TRUE	N/A	FALSE	~1.0.0	2
FALSE	FALSE	TRUE	N/A	TRUE	~1.0.0	2
FALSE	FALSE	TRUE	N/A	FALSE	~1.0.0	2
FALSE	FALSE	FALSE	N/A	N/A	~1.0.0	2
FALSE	FALSE	FALSE	N/A	N/A	~1.0.0	2
FALSE	FALSE	FALSE	N/A	N/A	~1.0.0	2
FALSE	FALSE	FALSE	N/A	N/A	~1.0.0	2
TRUE	TRUE	TRUE	TRUE	TRUE	1.0.*	2
TRUE	TRUE	TRUE	TRUE	FALSE	1.0.*	2
TRUE	TRUE	TRUE	FALSE	TRUE	1.0.*	2
TRUE	TRUE	TRUE	FALSE	FALSE	1.0.*	2
TRUE	TRUE	FALSE	TRUE	N/A	1.0.*	2
TRUE	TRUE	FALSE	TRUE	N/A	1.0.*	2
TRUE	TRUE	FALSE	FALSE	N/A	1.0.*	2
TRUE	TRUE	FALSE	FALSE	N/A	1.0.*	2
TRUE	FALSE	TRUE	N/A	TRUE	1.0.*	2
TRUE	FALSE	TRUE	N/A	FALSE	1.0.*	2
TRUE	FALSE	TRUE	N/A	TRUE	1.0.*	2
TRUE	FALSE	TRUE	N/A	FALSE	1.0.*	2
TRUE	FALSE	FALSE	N/A	N/A	1.0.*	2
TRUE	FALSE	FALSE	N/A	N/A	1.0.*	2
TRUE	FALSE	FALSE	N/A	N/A	1.0.*	2
TRUE	FALSE	FALSE	N/A	N/A	1.0.*	2
FALSE	TRUE	TRUE	TRUE	TRUE	1.0.*	2
FALSE	TRUE	TRUE	TRUE	FALSE	1.0.*	2
FALSE	TRUE	TRUE	FALSE	TRUE	1.0.*	2
FALSE	TRUE	TRUE	FALSE	FALSE	1.0.*	2
FALSE	TRUE	FALSE	TRUE	N/A	1.0.*	2
FALSE	TRUE	FALSE	TRUE	N/A	1.0.*	2
FALSE	TRUE	FALSE	FALSE	N/A	1.0.*	2
FALSE	TRUE	FALSE	FALSE	N/A	1.0.*	2
FALSE	FALSE	TRUE	N/A	TRUE	1.0.*	2
FALSE	FALSE	TRUE	N/A	FALSE	1.0.*	2
FALSE	FALSE	TRUE	N/A	TRUE	1.0.*	2
FALSE	FALSE	TRUE	N/A	FALSE	1.0.*	2
FALSE	FALSE	FALSE	N/A	N/A	1.0.*	2
FALSE	FALSE	FALSE	N/A	N/A	1.0.*	2
FALSE	FALSE	FALSE	N/A	N/A	1.0.*	2
FALSE	FALSE	FALSE	N/A	N/A	1.0.*	2
TRUE	TRUE	TRUE	TRUE	TRUE	1.0.8	2
TRUE	TRUE	TRUE	TRUE	FALSE	1.0.8	2
TRUE	TRUE	TRUE	FALSE	TRUE	1.0.8	2
TRUE	TRUE	TRUE	FALSE	FALSE	1.0.8	2
TRUE	TRUE	FALSE	TRUE	N/A	1.0.8	2
TRUE	TRUE	FALSE	TRUE	N/A	1.0.8	2
TRUE	TRUE	FALSE	FALSE	N/A	1.0.8	2
TRUE	TRUE	FALSE	FALSE	N/A	1.0.8	2
TRUE	FALSE	TRUE	N/A	TRUE	1.0.8	2
TRUE	FALSE	TRUE	N/A	FALSE	1.0.8	2
TRUE	FALSE	TRUE	N/A	TRUE	1.0.8	2
TRUE	FALSE	TRUE	N/A	FALSE	1.0.8	2
TRUE	FALSE	FALSE	N/A	N/A	1.0.8	2
TRUE	FALSE	FALSE	N/A	N/A	1.0.8	2
TRUE	FALSE	FALSE	N/A	N/A	1.0.8	2
TRUE	FALSE	FALSE	N/A	N/A	1.0.8	2
FALSE	TRUE	TRUE	TRUE	TRUE	1.0.8	2
FALSE	TRUE	TRUE	TRUE	FALSE	1.0.8	2
FALSE	TRUE	TRUE	FALSE	TRUE	1.0.8	2
FALSE	TRUE	TRUE	FALSE	FALSE	1.0.8	2
FALSE	TRUE	FALSE	TRUE	N/A	1.0.8	2
FALSE	TRUE	FALSE	TRUE	N/A	1.0.8	2
FALSE	TRUE	FALSE	FALSE	N/A	1.0.8	2
FALSE	TRUE	FALSE	FALSE	N/A	1.0.8	2
FALSE	FALSE	TRUE	N/A	TRUE	1.0.8	2
FALSE	FALSE	TRUE	N/A	FALSE	1.0.8	2
FALSE	FALSE	TRUE	N/A	TRUE	1.0.8	2
FALSE	FALSE	TRUE	N/A	FALSE	1.0.8	2
FALSE	FALSE	FALSE	N/A	N/A	1.0.8	2
FALSE	FALSE	FALSE	N/A	N/A	1.0.8	2
FALSE	FALSE	FALSE	N/A	N/A	1.0.8	2
FALSE	FALSE	FALSE	N/A	N/A	1.0.8	2
TRUE	TRUE	TRUE	TRUE	TRUE	">1.0.0 <=2.0.0"	2
TRUE	TRUE	TRUE	TRUE	FALSE	">1.0.0 <=2.0.0"	2
TRUE	TRUE	TRUE	FALSE	TRUE	">1.0.0 <=2.0.0"	2
TRUE	TRUE	TRUE	FALSE	FALSE	">1.0.0 <=2.0.0"	2
TRUE	TRUE	FALSE	TRUE	N/A	">1.0.0 <=2.0.0"	2
TRUE	TRUE	FALSE	TRUE	N/A	">1.0.0 <=2.0.0"	2
TRUE	TRUE	FALSE	FALSE	N/A	">1.0.0 <=2.0.0"	2
TRUE	TRUE	FALSE	FALSE	N/A	">1.0.0 <=2.0.0"	2
TRUE	FALSE	TRUE	N/A	TRUE	">1.0.0 <=2.0.0"	2
TRUE	FALSE	TRUE	N/A	FALSE	">1.0.0 <=2.0.0"	2
TRUE	FALSE	TRUE	N/A	TRUE	">1.0.0 <=2.0.0"	2
TRUE	FALSE	TRUE	N/A	FALSE	">1.0.0 <=2.0.0"	2
TRUE	FALSE	FALSE	N/A	N/A	">1.0.0 <=2.0.0"	2
TRUE	FALSE	FALSE	N/A	N/A	">1.0.0 <=2.0.0"	2
TRUE	FALSE	FALSE	N/A	N/A	">1.0.0 <=2.0.0"	2
TRUE	FALSE	FALSE	N/A	N/A	">1.0.0 <=2.0.0"	2
FALSE	TRUE	TRUE	TRUE	TRUE	">1.0.0 <=2.0.0"	2
FALSE	TRUE	TRUE	TRUE	FALSE	">1.0.0 <=2.0.0"	2
FALSE	TRUE	TRUE	FALSE	TRUE	">1.0.0 <=2.0.0"	2
FALSE	TRUE	TRUE	FALSE	FALSE	">1.0.0 <=2.0.0"	2
FALSE	TRUE	FALSE	TRUE	N/A	">1.0.0 <=2.0.0"	2
FALSE	TRUE	FALSE	TRUE	N/A	">1.0.0 <=2.0.0"	2
FALSE	TRUE	FALSE	FALSE	N/A	">1.0.0 <=2.0.0"	2
FALSE	TRUE	FALSE	FALSE	N/A	">1.0.0 <=2.0.0"	2
FALSE	FALSE	TRUE	N/A	TRUE	">1.0.0 <=2.0.0"	2
FALSE	FALSE	TRUE	N/A	FALSE	">1.0.0 <=2.0.0"	2
FALSE	FALSE	TRUE	N/A	TRUE	">1.0.0 <=2.0.0"	2
FALSE	FALSE	TRUE	N/A	FALSE	">1.0.0 <=2.0.0"	2
FALSE	FALSE	FALSE	N/A	N/A	">1.0.0 <=2.0.0"	2
FALSE	FALSE	FALSE	N/A	N/A	">1.0.0 <=2.0.0"	2
FALSE	FALSE	FALSE	N/A	N/A	">1.0.0 <=2.0.0"	2
FALSE	FALSE	FALSE	N/A	N/A	">1.0.0 <=2.0.0"	2
TRUE	TRUE	TRUE	TRUE	TRUE	"1.0.0 - 2.0.0"	2
TRUE	TRUE	TRUE	TRUE	FALSE	"1.0.0 - 2.0.0"	2
TRUE	TRUE	TRUE	FALSE	TRUE	"1.0.0 - 2.0.0"	2
TRUE	TRUE	TRUE	FALSE	FALSE	"1.0.0 - 2.0.0"	2
TRUE	TRUE	FALSE	TRUE	N/A	"1.0.0 - 2.0.0"	2
TRUE	TRUE	FALSE	TRUE	N/A	"1.0.0 - 2.0.0"	2
TRUE	TRUE	FALSE	FALSE	N/A	"1.0.0 - 2.0.0"	2
TRUE	TRUE	FALSE	FALSE	N/A	"1.0.0 - 2.0.0"	2
TRUE	FALSE	TRUE	N/A	TRUE	"1.0.0 - 2.0.0"	2
TRUE	FALSE	TRUE	N/A	FALSE	"1.0.0 - 2.0.0"	2
TRUE	FALSE	TRUE	N/A	TRUE	"1.0.0 - 2.0.0"	2
TRUE	FALSE	TRUE	N/A	FALSE	"1.0.0 - 2.0.0"	2
TRUE	FALSE	FALSE	N/A	N/A	"1.0.0 - 2.0.0"	2
TRUE	FALSE	FALSE	N/A	N/A	"1.0.0 - 2.0.0"	2
TRUE	FALSE	FALSE	N/A	N/A	"1.0.0 - 2.0.0"	2
TRUE	FALSE	FALSE	N/A	N/A	"1.0.0 - 2.0.0"	2
FALSE	TRUE	TRUE	TRUE	TRUE	"1.0.0 - 2.0.0"	2
FALSE	TRUE	TRUE	TRUE	FALSE	"1.0.0 - 2.0.0"	2
FALSE	TRUE	TRUE	FALSE	TRUE	"1.0.0 - 2.0.0"	2
FALSE	TRUE	TRUE	FALSE	FALSE	"1.0.0 - 2.0.0"	2
FALSE	TRUE	FALSE	TRUE	N/A	"1.0.0 - 2.0.0"	2
FALSE	TRUE	FALSE	TRUE	N/A	"1.0.0 - 2.0.0"	2
FALSE	TRUE	FALSE	FALSE	N/A	"1.0.0 - 2.0.0"	2
FALSE	TRUE	FALSE	FALSE	N/A	"1.0.0 - 2.0.0"	2
FALSE	FALSE	TRUE	N/A	TRUE	"1.0.0 - 2.0.0"	2
FALSE	FALSE	TRUE	N/A	FALSE	"1.0.0 - 2.0.0"	2
FALSE	FALSE	TRUE	N/A	TRUE	"1.0.0 - 2.0.0"	2
FALSE	FALSE	TRUE	N/A	FALSE	"1.0.0 - 2.0.0"	2
FALSE	FALSE	FALSE	N/A	N/A	"1.0.0 - 2.0.0"	2
FALSE	FALSE	FALSE	N/A	N/A	"1.0.0 - 2.0.0"	2
FALSE	FALSE	FALSE	N/A	N/A	"1.0.0 - 2.0.0"	2
FALSE	FALSE	FALSE	N/A	N/A	"1.0.0 - 2.0.0"	2
TRUE	TRUE	TRUE	TRUE	TRUE	*	2
TRUE	TRUE	TRUE	TRUE	FALSE	*	2
TRUE	TRUE	TRUE	FALSE	TRUE	*	2
TRUE	TRUE	TRUE	FALSE	FALSE	*	2
TRUE	TRUE	FALSE	TRUE	N/A	*	2
TRUE	TRUE	FALSE	TRUE	N/A	*	2
TRUE	TRUE	FALSE	FALSE	N/A	*	2
TRUE	TRUE	FALSE	FALSE	N/A	*	2
TRUE	FALSE	TRUE	N/A	TRUE	*	2
TRUE	FALSE	TRUE	N/A	FALSE	*	2
TRUE	FALSE	TRUE	N/A	TRUE	*	2
TRUE	FALSE	TRUE	N/A	FALSE	*	2
TRUE	FALSE	FALSE	N/A	N/A	*	2
TRUE	FALSE	FALSE	N/A	N/A	*	2
TRUE	FALSE	FALSE	N/A	N/A	*	2
TRUE	FALSE	FALSE	N/A	N/A	*	2
FALSE	TRUE	TRUE	TRUE	TRUE	*	2
FALSE	TRUE	TRUE	TRUE	FALSE	*	2
FALSE	TRUE	TRUE	FALSE	TRUE	*	2
FALSE	TRUE	TRUE	FALSE	FALSE	*	2
FALSE	TRUE	FALSE	TRUE	N/A	*	2
FALSE	TRUE	FALSE	TRUE	N/A	*	2
FALSE	TRUE	FALSE	FALSE	N/A	*	2
FALSE	TRUE	FALSE	FALSE	N/A	*	2
FALSE	FALSE	TRUE	N/A	TRUE	*	2
FALSE	FALSE	TRUE	N/A	FALSE	*	2
FALSE	FALSE	TRUE	N/A	TRUE	*	2
FALSE	FALSE	TRUE	N/A	FALSE	*	2
FALSE	FALSE	FALSE	N/A	N/A	*	2
FALSE	FALSE	FALSE	N/A	N/A	*	2
FALSE	FALSE	FALSE	N/A	N/A	*	2
FALSE	FALSE	FALSE	N/A	N/A	*	2
TRUE	FALSE	FALSE	N/A	N/A	^1.0.0	1
FALSE	FALSE	FALSE	N/A	N/A	^1.0.0	1
TRUE	FALSE	FALSE	N/A	N/A	~1.0.0	1
FALSE	FALSE	FALSE	N/A	N/A	~1.0.0	1
TRUE	FALSE	FALSE	N/A	N/A	1.0.*	1
FALSE	FALSE	FALSE	N/A	N/A	1.0.*	1
TRUE	FALSE	FALSE	N/A	N/A	1.0.8	1
FALSE	FALSE	FALSE	N/A	N/A	1.0.8	1
TRUE	FALSE	FALSE	N/A	N/A	">1.0.0 <=2.0.0"	1
FALSE	FALSE	FALSE	N/A	N/A	">1.0.0 <=2.0.0"	1
TRUE	FALSE	FALSE	N/A	N/A	"1.0.0 - 2.0.0"	1
FALSE	FALSE	FALSE	N/A	N/A	"1.0.0 - 2.0.0"	1
TRUE	FALSE	FALSE	N/A	N/A	*	1
FALSE	FALSE	FALSE	N/A	N/A	*	1
